@page "/Accounts"
@using Nulah.UpApi.Domain.Models

<h3>Accounts</h3>
@if (_isLoading)
{
    <h1>Loading...</h1>
}
else
{
    <MudButton Color="Color.Primary" OnClick="RecacheAccounts">Refresh</MudButton>
    <MudGrid>
        @foreach (var account in LoadedAccounts)
        {
            <AccountCard Account="account" DisplayRawData="DisplayAccountRaw">
                <ViewTransactionButton>
                    <MudButton Variant="Variant.Text" Color="Color.Primary">
                        <a href="/Account/@account.Id/Transactions">View Transactions</a>
                    </MudButton>
                </ViewTransactionButton>
            </AccountCard>
        }
    </MudGrid>
}